# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Variable files
*.auto.tfvars

# Ignore sensitive tfvars
terraform.tfvars

# Terraform lock file
.terraform.lock.hcl

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Logs
*.log